<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
</head>
<body>
    <h1>Hallo <%= name %></h1>
    <h2>Terimakasih sudah melakukan pendaftaran</h2>
    <p>Untuk verifikasi tekan link berikut: </p>
    <p><a href=<%= link %>>Verifikasi Email</a> </p>
    <p>*Perhatian! Link ini hanya berlaku selama 30 menit.*</p>
</body>
</html>